body {
    background-color: rgb(0, 0, 0);
}

#imgcont {
    width: 300px;
    /* margin-left: auto;
    margin-right: auto; */
}

.imgres {
    opacity: 0;
    position: absolute;
    margin-top: 100px;
    animation: rotate linear, fading01;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

#cd001 {
    animation-duration: 4s;
}

#cd002 {
    animation-delay: 4s;
}

#cd003 {
    animation-delay: 8s;
}

#cd004 {
    animation-delay: 12s;
}

#cd005 {
    animation-delay: 16s;
}

#cd006 {
    animation-delay: 20s;
}

#cd007 {
    animation-delay: 24s;
}

#cd008 {
    animation-delay: 28s;
}

#cd009 {
    animation-delay: 32s;
}

#cd010 {
    animation-delay: 36s;
}

#cd011 {
    animation-delay: 40s;
}

#cd012 {
    animation-delay: 44s;
}

#cd013 {
    animation-delay: 48s;
}

#cd014 {
    animation-delay: 52s;
}

#cd015 {
    animation-delay: 56s;
}

#cd016 {
    animation-delay: 60s;
}

#cd017 {
    animation-delay: 64s;
}

#cd018 {
    animation-delay: 68s;
}

#cd019 {
    animation-delay: 72s;
}

#cd020 {
    animation-delay: 76s;
}




@keyframes rotate {
    0% {
        transform: rotate(0deg), ;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fading01 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#circ{
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 55px 34px white;
    border-radius: 100%;
}